# A Breef Data Science Pipeline - Part 1

#### [Institute of Data Science at Maastricht University](https://www.maastrichtuniversity.nl/research/institute-data-science)
---

- Dataset name
- Source url
- Weight
- Timestamp

### Data, Data, Data...

In [1]:
import pandas as pd
import requests
import json
from pandas.io.json import json_normalize

---
## Data Files and Extensions

![](../img/datafile.png)

In fact, is needed an actual course of databases, how to access, how to storage, the understanding of the conept of data lake, etc. Nevertheless we have to stress the importance to understand the way the data is presented, otherwise, we might not even start. We have to take good care of licencing, rights and citations before to use any data source.

Here is covered just a few data formats that we can find out there.

### TSV Format

- #### European Summary

[Open Data Source](http://data.europa.eu/euodp/en/data/dataset/XilQUW76wsUvJzMaa9l5cQ)  
[License](https://ec.europa.eu/info/legal-notice_en)

In [3]:
data_tsv = pd.read_csv('../data/crim_hist.tsv', sep='\t', encoding="utf-8")

In [7]:
data_tsv.columns

Index(['unit,geo\time', '2000 ', '1999 ', '1998 ', '1997 ', '1996 ', '1995 ',
       '1994 ', '1993 ', '1992 ', '1991 ', '1990 ', '1989 ', '1988 ', '1987 ',
       '1986 ', '1985 ', '1984 ', '1983 ', '1982 ', '1981 ', '1980 ', '1979 ',
       '1978 ', '1977 ', '1976 ', '1975 ', '1974 ', '1973 ', '1972 ', '1971 ',
       '1970 ', '1969 ', '1968 ', '1967 ', '1966 ', '1965 ', '1964 ', '1963 ',
       '1962 ', '1961 ', '1960 ', '1959 ', '1958 ', '1957 ', '1956 ', '1955 ',
       '1954 ', '1953 ', '1952 ', '1951 ', '1950 '],
      dtype='object')

In [8]:
data_tsv.head()

,"unit,geo\time",2000,1999,1998,1997,1996,1995,1994,1993,1992,...,1959,1958,1957,1956,1955,1954,1953,1952,1951,1950
0,"NR,AT",560306,493246,479859,481549,485450,486433,504568,493786,502440,...,238987,231635,225660,215330,214451,201701,194916,:,:,:
1,"NR,BE",1002660,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
2,"NR,BG",148915,145035,159317,228219,184975,196346,:,:,:,...,:,:,:,:,:,:,:,:,:,:
3,"NR,CH",317335,355255,378045,382769,356018,346634,358028,371740,374237,...,:,:,:,:,:,:,:,:,:,:
4,"NR,CY",4340,4212,4316,3910,4529,4033,4304,4300,3808,...,:,:,:,:,:,:,:,:,:,:

### CSV Format

- #### Victimhood; offenses and offense groups, 1992-2004

[Open Data Source](https://data.overheid.nl/data/dataset/slachtofferschap-1992-2004)  
[License](https://data.overheid.nl/licenties-voor-hergebruik)

In [12]:
pd.read_csv('../data/crime/37685ENG_UntypedDataSet_23112017_155707.csv', sep=';', encoding="utf-8")

,ID,Periods,TotalVictimsOfCrimes_1,SingleVictims_2,MultipleVictims_3,TotalViolentCrime_4,SexualCrimes_5,SexualCrimesOnlyWomen_6,Assault_7,Threats_8,...,TheftFromCarsIntCarOwnersOnly_17,Pickpocketing_18,OtherTheft_19,TotalCasesOfVandalism_20,CarVandalismTheftFromCarsExterior_21,CarTheftsExtVandalismCarOwners_22,OtherFormsOfVandalism_23,HitAndRunAccidents_24,HarassmentByPhone_25,OtherCrimes_26
0,0,1992JJ00,24.3,18.5,5.9,5.4,1.1,2.1,2.0,2.9,...,4.4,2.1,4.0,8.7,5.4,12.0,3.5,1.5,8.3,0.5
1,1,1993JJ00,25.0,19.1,6.0,5.1,1.1,2.2,1.6,2.8,...,5.0,2.2,3.4,10.3,6.4,14.3,4.3,1.2,7.6,0.8
2,2,1994JJ00,26.0,20.8,5.2,5.2,1.3,2.5,1.3,3.1,...,3.9,2.4,3.3,9.9,5.9,13.1,4.3,1.6,6.6,0.6
3,3,1995JJ00,25.9,20.2,5.7,5.4,1.1,2.2,1.8,2.8,...,4.0,2.6,3.7,9.7,6.0,12.9,3.9,1.4,7.1,0.7
4,4,1996JJ00,23.1,18.6,4.6,4.2,0.7,1.5,1.2,2.5,...,3.6,1.8,3.4,8.8,5.8,12.5,3.4,1.3,6.2,0.6
5,5,1997JJ00,25.5,20.4,5.2,5.0,1.2,2.1,1.4,2.7,...,3.5,2.0,3.3,10.4,6.2,11.2,4.8,1.3,7.2,0.5
6,6,1998JJ00,26.2,20.7,5.4,5.6,1.1,2.0,1.8,3.1,...,2.9,2.2,3.7,11.1,6.6,12.0,5.1,1.2,6.9,0.7
7,7,1999JJ00,26.2,20.6,5.5,5.5,1.1,1.9,1.6,3.3,...,3.3,2.0,3.0,11.6,7.1,12.5,5.1,1.5,6.9,0.6
8,8,2000JJ00,25.7,20.7,5.0,5.0,1.0,1.8,1.3,3.0,...,3.1,2.0,3.1,11.0,7.0,12.1,4.8,1.5,5.7,0.6
9,9,2001JJ00,24.9,19.6,5.4,5.8,1.1,1.8,1.8,3.4,...,3.6,1.9,2.8,10.5,6.6,11.2,4.4,1.3,5.2,0.7
10,10,2002JJ00,27.2,21.4,5.8,6.0,1.2,2.2,1.7,3.7,...,4.3,2.0,3.1,12.1,7.8,13.0,5.0,1.5,4.6,0.7
11,11,2003JJ00,25.6,20.5,5.1,5.7,0.9,1.5,1.9,3.5,...,4.0,1.9,2.7,11.1,7.6,12.6,4.2,1.4,4.8,0.8
12,12,2004JJ00,25.4,20.0,5.3,5.2,0.8,1.5,1.6,3.2,...,3.5,1.6,3.0,11.4,7.5,12.3,4.7,1.3,4.7,0.8

### Stata Format

- #### European Social Survey

[Open Data Source](http://www.europeansocialsurvey.org/data/round-index.html)
[License](http://www.europeansocialsurvey.org/about/disclaimer.html)

In [13]:
data = pd.read_stata('../data/ESS8e01.stata/ESS8e01.dta', convert_categoricals=False)

In [15]:
data.head()

,name,essround,edition,proddate,idno,cntry,nwspol,netusoft,netustm,ppltrst,...,inwshh,inwsmm,inwdde,inwmme,inwyye,inwehh,inwemm,inwtm,dweight,pweight
0,ESS8e01,8.0,1.0,31.10.2017,1.0,AT,120.0,4.0,180.0,8.0,...,7.0,37.0,5.0,12.0,2016.0,8.0,33.0,50.0,0.611677,0.370393
1,ESS8e01,8.0,1.0,31.10.2017,2.0,AT,120.0,5.0,120.0,6.0,...,9.0,39.0,25.0,11.0,2016.0,11.0,10.0,86.0,1.223354,0.370393
2,ESS8e01,8.0,1.0,31.10.2017,4.0,AT,30.0,2.0,6666.0,5.0,...,17.0,17.0,22.0,11.0,2016.0,18.0,0.0,38.0,0.389058,0.370393
3,ESS8e01,8.0,1.0,31.10.2017,6.0,AT,30.0,5.0,120.0,6.0,...,19.0,9.0,11.0,10.0,2016.0,19.0,59.0,46.0,0.642594,0.370393
4,ESS8e01,8.0,1.0,31.10.2017,10.0,AT,30.0,5.0,180.0,5.0,...,10.0,31.0,1.0,12.0,2016.0,11.0,49.0,70.0,3.432402,0.370393

---
## Data from Web Service

Sometimes is normal to find databases or datasets in web repositories, in general, the most common way to access is via API, in many other cases, the data can be accessed through the link URL.

![](../img/cloud.png)

In order to take a real case example, we utilize the Dutch portal for official distribution of data sources, part of the
[Ministry of the Interior and Kingdom Relations](https://data.overheid.nl/data/dataset) web page, where we can find tons of datasets in different formats, for many distinct applications.

Is important to automatize a way to get the data, a good method is creating a function to make the [web service](https://en.wikipedia.org/wiki/Web_service) requests, as is showed below.

For the convenient pruposes on this case we are going to focus on crime data.

![](../img/dutchdata.png)

- ### Getting Data Function

In [17]:
def get_datasets(request):
    tuples = []
    for line in json.loads(request.text)['value']:
        url = line['url']
        name = line['name']
        request = requests.get(url)
        table = json_normalize(json.loads(request.text)['value'])
        tuples.append((name,table))
        
    tables = {key: value for (key, value) in tuples}
    print(tables.keys())
    return tables

- ### Deaths; murder, crime scene in The Netherlands

This table contains the number of persons died as a result of murder or manslaughter, where the crime scene is located in the Netherlands. The victims can be residents or non-residents. The data can be split by location of the crime, method, age and sex. The date of death is the criterion, the date of the act can be in the previous year. The ICD10 codes that belong to murder and manslaughter are X85-Y09.  

[Open Data Source](https://data.overheid.nl/data/dataset/deaths-murder-and-manslaughter-crime-scene-in-the-netherlands)  
[License](https://data.overheid.nl/licenties-voor-hergebruik) CC-BY 4.0

In [18]:
request = requests.get("http://opendata.cbs.nl/ODataApi/OData/81453ENG")
tables = get_datasets(request)

dict_keys(['Periods', 'CategoryGroups', 'UntypedDataSet', 'Age', 'Sex', 'TableInfos', 'DataProperties', 'TypedDataSet'])

In [20]:
tables['TypedDataSet'].head()

,Age,BeatingOrKicking_4,Firearm_5,HangingStrangulationOrSuffocation_3,HouseOfTheVictimOrOthers_8,ID,LocationForTradeAndServices_9,OtherOrUnknownLocation_11,OtherOrUnknownMethod_7,Periods,PublicRoad_10,Sex,StabbingWeapon_6,TotalVictimsOfMurderAndManslaughter_1,VictimsMurderManslaughterRelative_2
0,10000,13.0,86.0,22.0,97.0,0,15.0,88.0,31.0,1996JJ00,40.0,1100,88.0,240,15.5
1,10000,9.0,78.0,33.0,70.0,1,15.0,101.0,41.0,1997JJ00,51.0,1100,76.0,237,15.2
2,10000,9.0,74.0,23.0,66.0,2,9.0,86.0,29.0,1998JJ00,47.0,1100,73.0,208,13.2
3,10000,21.0,89.0,19.0,95.0,3,10.0,67.0,20.0,1999JJ00,58.0,1100,81.0,230,14.5
4,10000,6.0,81.0,24.0,101.0,4,21.0,61.0,37.0,2000JJ00,40.0,1100,75.0,223,14.0

In [22]:
tables['TableInfos'].T

                                                                     0
Catalog                                                            CBS
DefaultPresentation       graphtype=Table&r=Age,Periods&k=Topics&t=Sex
DefaultSelection     $filter=((Sex eq '1100')) and ((Age eq '10000'...
Description          CONTENTS\r\n\r\n1. General information\r\n2. D...
ExplanatoryText
Frequency                                                       Yearly
GraphTypes                                              Table,Bar,Line
ID                                                                   0
Identifier                                                    81453ENG
Language                                                            en
MetaDataModified                                   2017-12-28T02:00:00
Modified                                           2017-12-28T02:00:00
OutputStatus                                                   Regular
Period                                                       1996-2016
ReasonDelivery                                                  Change
SearchPriority                                                       2
ShortDescription     \nThis table contains the number of persons di...
ShortTitle                             Deaths; murder and manslaughter
Source                                                            CBS.
Summary              Persons died as a result of murder or manslaug...
Title                Deaths; murder and manslaughter, crime scene i...

- ### Crime victims by personal characteristics

Crime victims by background characteristics: sex, age, highest level of education, number of addresses per km2 of the place of residence 1997 - 2004 
Changed on November 07 2005. Frequency: Discontinued.  

[Open Data Source](https://data.overheid.nl/data/dataset/crime-victims-by-personal-characteristics)  
[License](https://data.overheid.nl/licenties-voor-hergebruik) CC-BY 4.0

In [32]:
request = requests.get("http://opendata.cbs.nl/ODataApi/OData/37957ENG")
tables = get_datasets(request)

dict_keys(['Periods', 'CategoryGroups', 'UntypedDataSet', 'PersonalCharacteristics', 'TableInfos', 'DataProperties', 'TypedDataSet'])

In [33]:
for variables in tables['TypedDataSet'].columns:
    print(variables)

BicycleTheftBicycleOwnersOnly_13
BicycleTheft_12
BurglaryOnlyHouseholds_11
Burglary_10
CarTheftCarUsersOnly_15
CarTheft_14
HarassmentByPhone_25
HitAndRunAccidents_24
ID
OtherOffences_26
OtherThefts_19
OtherVandalism_23
Periods
PersonalCharacteristics
PhysicalAbuse_7
Pickpocketing_18
SexualOffencesOnlyWomen_6
SexualOffences_5
TheftFromCarsCarUsersOnly_17
TheftFromDamageToCarCarUsers_22
TheftFromDamageToCar_21
TheftsFromCars_16
Threat_8
TotalThefts_9
TotalVandalism_20
TotalViolentCrimes_4
VictimOfMoreThanOneTypeOfOffence_3
VictimOfTheOneTypeOfOffence_2
VictimsTotal_1

- ### Feelings of insecurity

Feelings of insecurity due to crime Scared to be at home alone, or open the front door, scary places etc. 1997 - 2004 
Changed on December 14 2005. Frequency: Discontinued.  

[Open Data Source](https://data.overheid.nl/data/dataset/feelings-of-insecurity-by-background-characteristics)  
[License](https://data.overheid.nl/licenties-voor-hergebruik) CC-BY 4.0

In [26]:
request = requests.get("http://opendata.cbs.nl/ODataApi/OData/37775eng")
tables = get_datasets(request)

dict_keys(['Periods', 'AllPersonalCharacteristics', 'CategoryGroups', 'UntypedDataSet', 'TableInfos', 'DataProperties', 'TypedDataSet'])

In [31]:
for variables in tables['TypedDataSet'].columns:
    print(variables)

AllPersonalCharacteristics
ChanceToHaveOneSHomeBrokenInto_6
ChangedOutdoorLeisureActivities_5
FeelsOccasionallyInsecure_1
ID
Periods
ScaredToBeAtHomeAlone_2
ScaredToOpenTheFrontDoor_3
ScaryPlacesInTheNeighbourhood_4

- ### Crime; type of crime, municipality

This table contains figures on the number of registered crimes. These are broken down according to the type of crime, including figures on High Impact Crimes (theft / burglary, violent crimes, robberies, street robbery). The data is available per municipality. The crime types shown are a selection of all crime types, and do not add up to the Total number of crimes.
Data available from: 2014.  

[Source](https://data.overheid.nl/data/dataset/misdrijven-soort-misdrijf-gemeente)  
[Metadata](https://politieopendata.cbs.nl/portal.html?_la=nl&_catalog=Politie&graphtype=Table&tableId=47004NED&_theme=66)  
[License](https://data.overheid.nl/licenties-voor-hergebruik) CC-BY 4.0

In [34]:
r = requests.get("https://dataderden.cbs.nl/ODataApi/OData/47004NED")
service = json.loads(r.text)
for i in service['value']:
    print (i)

{'url': 'https://dataderden.cbs.nl/ODataApi/OData/47004NED/TableInfos', 'name': 'TableInfos'}
{'url': 'https://dataderden.cbs.nl/ODataApi/OData/47004NED/UntypedDataSet', 'name': 'UntypedDataSet'}
{'url': 'https://dataderden.cbs.nl/ODataApi/OData/47004NED/TypedDataSet', 'name': 'TypedDataSet'}
{'url': 'https://dataderden.cbs.nl/ODataApi/OData/47004NED/DataProperties', 'name': 'DataProperties'}
{'url': 'https://dataderden.cbs.nl/ODataApi/OData/47004NED/CategoryGroups', 'name': 'CategoryGroups'}
{'url': 'https://dataderden.cbs.nl/ODataApi/OData/47004NED/SoortMisdrijf', 'name': 'SoortMisdrijf'}
{'url': 'https://dataderden.cbs.nl/ODataApi/OData/47004NED/Gemeenten', 'name': 'Gemeenten'}
{'url': 'https://dataderden.cbs.nl/ODataApi/OData/47004NED/Perioden', 'name': 'Perioden'}

In [35]:
request = requests.get('https://dataderden.cbs.nl/ODataApi/OData/47004NED/SoortMisdrijf')
df_crimentype = json_normalize(json.loads(request.text)['value'])

In [37]:
df_crimentype

,CategoryGroupID,Description,Key,Title
0,None,,T001160,Alle misdrijven
1,None,,A025248,HIC: High Impact Criminaliteit - totaal
2,None,,A025249,"HIC: Diefstal/inbraak woning, totaal"
3,None,None,A028970,"HIC: Diefstal/inbraak woning, voltooid"
4,None,,A025250,"HIC: Diefstal/inbraak woning, pogingen"
5,None,,A025251,HIC: Geweldsmisdrijven
6,None,,A025253,HIC: Straatroof
7,None,,A028971,HIC: Overvallen
8,None,None,A025239,Aantasting openbare orde
9,None,,A025240,Bedreiging
10,None,,A025241,Brand/ontploffing
11,None,,A025243,"Diefstal van brom-, snor-, fietsen"
12,None,,A025242,Diefstal uit/vanaf motorvoertuigen
13,None,None,A025244,Diefstal van motorvoertuigen
14,None,,A025245,Diefstal/inbraak bedrijven/instellingen
15,None,,A025246,Diefstal/inbraak garage/schuur/tuinhuis
16,None,,A025247,Drugshandel
17,None,,A025254,Huisvredebreuk
18,None,,A025255,Mishandeling
19,None,,A025256,Openlijk geweld (persoon)
20,None,,A025257,Vernieling cq. zaakbeschadiging
21,None,,A025258,Wapenhandel
22,None,,A025259,Zakkenrollerij
23,None,,A025260,Zedenmisdrijf

In [42]:
#writing the crime type file in csv to get help from googlesheets
df_crimentype.to_csv('../data/crime/crimes_type.csv', sep=',', encoding= 'utf-8')

### Next: Exploratory Data Analysis